SUBSYSTEM!="power_supply", GOTO="mtpd_end"
ENV{POWER_SUPPLY_NAME}!="usb", GOTO="mtpd_end"

PROGRAM!="/bin/sh -c 'test -x /usr/bin/mtpd'", GOTO="ifup_wlan0"

ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/sbin/start-stop-daemon -S -q -b -m -p /var/run/mtpd.pid -x /usr/bin/mtpd"
ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/sbin/start-stop-daemon -K -q -p /var/run/mtpd.pid"

GOTO="mtpd_end"

LABEL="ifup_wlan0"

ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/sbin/ifup usb0"
ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/sbin/ifdown usb0"

LABEL="mtpd_end"
