#
# genimage config file for a Zynq-friendly MMC boot image
#

# Image for boot partition
image boot.vfat {
	vfat {
		# extra mkdosfs options
		extraargs = "-n BOOT"

		files = {
			"mininit-syspart",
			"mininit-syspart.sha1",
			"modules.squashfs",
			"modules.squashfs.bak",
			"modules.squashfs.bak.sha1",
			"modules.squashfs.sha1",
			"rootfs.squashfs",
			"rootfs.squashfs.sha1",
			"vmlinuz.bak",
			"vmlinuz.bak.sha1",
			"vmlinuz.bin",
			"vmlinuz.bin.sha1",
		}
	}

	size = 400M
}

# Image for standard apps partition
image apps.ext4 {
	name = "apps"
    ext4 {
        extraargs = "-d output/images/local_pack_root"
        label = "APPS"
    }
	size = 512M
}

# Image for hibernation partition
image hibernate.ext4 {
	name = "hibernate"
    ext4 {
        extraargs = "-d /tmp/fakeroot"
        label = "HIBERNATE"
    }
	size = 512M
}

# Output image
image sdcard.img {
	hdimage {
	}

	#  W95 FAT32 (LBA) partition
	partition boot {
		partition-type = 0xC
		offset = 0
		bootable = "true"
		image = "boot.vfat"
	}
    
    partition apps {
        in-partition-table = "yes"
        partition-type = 0x83
        image = "apps.ext4"
        size = 512M
    }
    
    partition hibernate {
        in-partition-table = "yes"
        partition-type = 0x83
        image = "hibernate.ext4"
        size = 512M
    }
}
