[Desktop Entry]
Name=Kernel Update hdmi
Comment=RG350 ROGUE Update 2020-05-10
Exec=update.sh
Icon=rogue
Terminal=true
Type=Application
StartupNotify=true
Categories=applications;
